* {
    color: white;
    background-color: black;
}

.big {
    font-size: larger;
}

.medium {
    font-size: medium;
}

.small {
    font-size: smaller;
}

.Prism {
    font-family: "Tilt Prism", sans-serif;
}

.Signika {
    font-family: "Signika Negative", sans-serif;
}