* {
    color: white;
    background-color: black;
}

.big {
    font-size: 48px;
}

.medium {
    font-size: 32px;
}

.small {
    font-size: 24px;
}

.Prism {
    font-family: "Tilt Prism", sans-serif;
}

.Signika {
    font-family: "Signika Negative", sans-serif;
}