* {
    background-color: black;
    color: white;
    font-size: 24px;
}

button {
    scale: 1.25;
    font-size: 18px;
    margin: 10px;
}

.qbutton {
    border-radius: 15%;
    border-color: white;
    transition-duration: 0.25s;
}

.qbutton:disabled {
    color: black;
}

.qbutton:hover:disabled {
    scale: 1.25;
    border-color: black;
    color: black;
    background-color: black;
}

.qbutton:hover{
    border-color: white;
    background-color: white;
    color: black;
    scale: 1.5;
}

.qbutton:hover:disabled.correct {
    border-color: green;
}

.qbutton:hover:disabled.incorrect {
    border-color: red;
}

